.container {
  margin: var(--space-x6) auto;
  max-width: 900px;
}

.searchInput {
  margin: 0 var(--space-x3);
  display: block;
}

.resultsHeader {
  margin-top: var(--space-x6);
  font-size: var(--text-lg);
  margin-left: var(--space-x3);
  margin-bottom: var(--space-x3);
}

.results {
  border-top: 1px solid var(--color-primary-light);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 668px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }

  .results > li:nth-child(odd) {
    border-right: 1px solid var(--color-primary-light);
  }
}
