.base {
  display: inline-block;
  position: relative;

  border-bottom: 1px solid var(--color-primary-light);
  background: rgba(0, 0, 0, 0.125);
  border-radius: 4px 4px 0 0;
}

.base > * {
  padding: 18px var(--space-x3) var(--space-x1);
  font-weight: normal;
}

.input,
.select {
  display: inline-block;
  width: 100%;
  background: none;
  border: none;
  font-size: var(--text-md);
  color: var(--color-text-light);
}

/* --------------------------------------------------------
 * HOVER
 * -------------------------------------------------------- */
.base:hover {
  border-bottom: 1px solid var(--color-primary-lighter);
}

/* --------------------------------------------------------
 * FOCUS
 * -------------------------------------------------------- */
.base:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background: #fff;
  height: 2px;
  transform: scaleX(0);
  transition: transform 300ms;
}

.base:focus-within:after {
  transform: scaleX(1);
}

/* --------------------------------------------------------
 * PLACEHOLDER
 * -------------------------------------------------------- */
.input::placeholder {
  color: var(--color-primary-lighter);
}

/* --------------------------------------------------------
 * LABEL
 * -------------------------------------------------------- */
.label {
  color: var(--color-primary-lighter);
  pointer-events: none;
  position: absolute;
  top: 0;
  padding-top: var(--space-x3);
  transition: var(--anim-duration-default);
}

.labelFloating,
.base:focus-within .label {
  font-size: var(--text-xs);
  padding-top: var(--space-x1);
}

/* --------------------------------------------------------
 * PREFIX
 * -------------------------------------------------------- */
.prefix {
  position: absolute;
  left: 0;
  pointer-events: none;
}

.withPrefix {
  padding-left: 28px;
}

/* --------------------------------------------------------
 * SELECT
 * -------------------------------------------------------- */
.select {
  padding-right: 32px;
}

.select option,
.select optgroup {
  color: var(--color-text-dark);
}

.selectIcon {
  fill: var(--color-text-light);
  padding: var(--space-x3) var(--space-x1) 0;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

/* --------------------------------------------------------
 * OVERRIDES
 * -------------------------------------------------------- */

.select {
  -webkit-appearance: none;
}
/* --------------------------------------------------------
 * NUMERIC
 * -------------------------------------------------------- */

.numeric .label,
.numeric .input {
  text-align: right;
}

.numeric .label {
  right: 0;
}
