.base {
  font-weight: normal;
  text-decoration: none;
  background: var(--color-secondary);
  color: var(--color-secondary-text);
  border: none;
  padding: var(--space-x2) var(--space-x3);
  border-radius: var(--space-x1);
  font-size: var(--text-md);
}

.base:hover {
  cursor: pointer;
  background: var(--color-secondary-light);
}

.base:active {
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.25);
  background: var(--color-secondary-dark);
}

.secondary,
.outline {
  background: transparent;
  color: var(--color-secondary);
}

.secondary:hover,
.outline:hover {
  background: transparent;
  color: var(--color-secondary-light);
}

.secondary:active,
.outline:active {
  box-shadow: none;
  background: transparent;
  color: var(--color-secondary-dark);
}

.outline {
  border: 1px solid var(--color-secondary);
}

.outline:hover,
.outline:focus {
  border-color: var(--color-primary-dark-text);
  color: var(--color-primary-dark-text);
}

.outline:active {
  border-color: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.withIcon {
  padding: var(--space-x2);
  margin: calc(var(--space-x2) * -1);
  border-radius: 50%;
}

.withIcon:focus,
.withIcon:hover {
  background: rgba(0, 0, 0, 0.125);
}

.icon {
  display: block;
  fill: var(--color-primary-dark-text);
}

.label {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  margin: -1px;
  overflow: hidden;
}

.floatingAction {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: var(--space-x4);
  height: 48px;
  border-radius: 24px;
  padding: var(--space-x3);
  box-shadow: 0 var(--space-x1) var(--space-x2) var(--space-x1) var(--color-shadow);
}

.floatingAction.left {
  left: var(--space-x4);
}

.floatingAction.right {
  right: var(--space-x4);
}

.floatingAction .floatingActionLabel {
  max-width: 0;
  opacity: 0;
  margin-left: 0;
  overflow: hidden;
  transition: all var(--anim-duration-long) ease;
  white-space: nowrap;
}

.floatingAction:focus .floatingActionLabel,
.floatingAction:active .floatingActionLabel,
.floatingAction:hover .floatingActionLabel {
  margin-left: var(--space-x1);
  max-width: 140px;
  opacity: 1;
}

.base:focus {
  outline: none;
  text-decoration: underline;
}

.small {
  padding: var(--space-x1) var(--space-x2);
  font-size: var(--text-sm);
}
