.transaction {
  padding: var(--space-x3);
  border-bottom: 1px solid var(--color-primary-light);
}

.details {
  display: flex;
  justify-content: space-between;
}

.date {
  margin-bottom: var(--space-x2);
  font-size: var(--text-sm);
  color: var(--color-primary-lighter);
}

.inputCard {
  display: flex;
  border-bottom: 1px solid var(--color-primary-light);
}

.inputCardInputs {
  padding: var(--space-x6) var(--space-x2) var(--space-x6) var(--space-x4);
}

.inputCardFirstRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-x3);
}

.dateInput,
.amountInput {
  flex-basis: 45%;
  flex-grow: 1;
}

.dateInput {
  margin-right: var(--space-x3);
}

.categorySelect {
  width: 100%;
  margin-bottom: var(--space-x3);
}

.descriptionInput {
  width: 100%;
}

.deleteButton {
  margin: 0;
  border-radius: 0;
  padding: var(--space-x3);
}
