.header {
  background: var(--color-primary-dark);
  color: var(--color-primary-dark-text);
  display: flex;
  padding: var(--space-x3);
  min-height: 56px;
  align-items: flex-end;
}

.header.withoutSubheader {
  border-bottom: 1px solid var(--color-primary-light);
}

button.menuButton {
  margin-right: var(--space-x1);
}

.title {
  flex-grow: 1;
}

.subheader {
  padding: var(--space-x2) var(--space-x3);
  background: var(--color-primary-light);
  color: var(--color-primary-light-text);
  min-height: 35px;
}

.subheaderUnbalanced {
  background: var(--color-danger-light);
  color: var(--color-danger-light-text);
}
